body{
    background-image: url(images/mario2.jpg);
    background-size: cover;
}
.jumbotron{
    opacity: .8;
}
h2{
    color: rgb(255, 51, 0);
    margin-left: 10px;
}

.list-group-item{
   
    opacity: .8;
}

.card{
    opacity: .8;
    position: relative;
    margin-top: -33px;  
}

a{
    color: black
}