html, body{
    background-image: url('images/legend.gif') ;
    background-size: 100% 100%; 
    
}

.container{
    position: relative;
    bottom: 32px;
    height: 10px;
}

.card{
    opacity: .9;
    margin-top: -2%;
    
    display: flex; 
}

.card-group{
    display: flex; 

}
.jumbotron{
    opacity: .9;

}
#games{
    
    position: absolute;
   
}

#card-body{
    width: 500px;
    
    
}


.news{
    background-color: red;
}

