{% include "bootstrap.html" %}{% include "navbar.html" %}{% load static %}
<link rel="stylesheet" href="{% static 'css/consoles.css' %}" type="text/css" />

{% if console.brand == 'XBOX' %}
<style>
  body{
    background-color: chartreuse;
  }
</style>
{% endif %}
{% if console.brand == 'PLAYSTATION' %}
<style>
  body{
    background-color: cyan;
  }
</style>
{% endif %}
{% if console.brand == 'NINTENDO' %}
<style>
  body{
    background-color: rgb(241, 7, 241);
  }
</style>
{% endif %}
{% if console.brand == 'PC' %}
<style>
  body{
    background-color: lightgray;
  }
</style>
{% endif %}
<div class="jumbotron jumbotron-fluid bg-dark text-light">
  <div class="container">
    <h4 class="display-4">System: {{console.name}}</h4>

    <p class="lead">A list of compatible games</p>
    <p class="lead">
    {% if isfavorite %}
<a class="btn btn-danger" href="/consoleunfav/{{console.id}}/" role="button"
  >Unfavorite Console</a
>{% else %}
<a class="btn btn-success" href="/consolefav/{{console.id}}/" role="button"
  >Favorite Console</a
>{% endif %}
  </p>

  </div>
</div>

<div class="text">
<h3><u>Games:</u></h3>
<ul>
  {% for game in games %}
  <li>
    <img width="40" height="40" src="{{ game.image.url }}" />
    <a class="text-dark" href="/game/{{game.id}}">{{game.title}}</a>
  </li>
  {% endfor %}
</ul>
</div>
