{% include "bootstrap.html" %}{% include "navbar.html" %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{console.brand}}</h1>
    <h4 class="display-4">{{console.name}}</h4>

    <p class="lead">a list of games</p>
  </div>
</div>
{% if isfavorite %}
<a class="btn btn-primary" href="/consoleunfav/{{console.id}}/" role="button"
  >Unfavorite Console</a
>{% else %}
<a class="btn btn-primary" href="/consolefav/{{console.id}}/" role="button"
  >Favorite Console</a
>{% endif %}
<h3>games:</h3>
<ul>
  {% for game in games %}
  <li>
    <a href="/game/{{game.id}}">{{game.title}}</a>
  </li>
  {% endfor %}
</ul>
