{% include "bootstrap.html" %}{% load static %}<link
  rel="stylesheet"
  href="{% static 'css/feed.css' %}"
  type="text/css"/>{% include "navbar.html" %}

<div class="jumbotron bg-dark text-danger">
  <h1 class="display-4">Activity Feed</h1>
  <br/>
  <br/>
  <p class="lead">Posts by followed users:</p>
  <hr class="my-4">
  
</div>
<h3 class="text-light">Gamefaqs:</h3>



{% if faqs %}
{% for faq in faqs %}

<div class="card bg-dark text-danger">
  <h5 class="card-header">Gamefaq:</h5>
  <div class="card-body">
    <h5 class="card-title">{{faq.title}}</h5>
    <p class="card-text">
      posted by  <a href="/user_profile_view/{{faq.author.id}}/">{{faq.author.username}}
    </p>
    <a href="/gamefaq/{{faq.id}}/" class="btn btn-danger">View Gamefaq</a>
  </div>
</div>
{% endfor %} 
{% else %}
<div class="container bg-dark text-light">
<p>there are no posts yet!</p>
</div>
{% endif %}
<h3 class="text-light">News Posts:</h3>
{% if news %}
{% for post in news %}
<div class="card bg-dark text-danger">
  <h5 class="card-header">News Post:</h5>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">
      posted by  <a href="/user_profile_view/{{post.author.id}}/">{{post.author.username}}
    </p>
    <a href="/newspost/{{post.id}}/" class="btn btn-danger">View NewsPost</a>
  </div>
</div>
{% endfor %}
{% else %}
<div class="container bg-dark text-light">
<p>there are no posts yet!</p>
</div>

{% endif %}