{% include "bootstrap.html" %} {% include "navbar.html" %} {% for e in f %}
<style>
  #pre {
    text-align: center;
  }
</style>
<p>this gamefaq has {{r}} reviews</p>
<a href="/{{e.id}}/reviews/">View Reviews of this gamefaq </a>

<br />
<br />

<pre id="pre">
--------------------------------------------------------------------
TITLE:
--------------------------------------------------------------------
{{e.title}}


--------------------------------------------------------------------
FAQ:
--------------------------------------------------------------------
{{e.body}}
</pre>

{% endfor %}
