{% include "bootstrap.html" %} {% include "navbar.html" %} {% load static %}
<link rel="stylesheet" href="{% static 'css/games.css' %}" type="text/css" />
<div class="row">
<div class="card-group text-light w-100 h-100" id="main">
  
  <div class="card h-200 bg-dark float-left" style="width: 27rem;">
    <div class="card .container-fluid bg-dark">
      <div class="card-body">
        <h1 class="card-title">{{g.title}}</h1>
        <h5 class="card-title">Genre:  <p>{{g.genre}}</p></h5>
        <h5 class="card-title">Release Date:  {{g.date_realesed}}</h5>
        <img width="250" height="250" src="{{ g.image.url }}" />
        <br />
        <br/>
        {% if request.user.is_authenticated %}
        
        <a href="/newgamefaq/{{g.id}}/" class="text-danger">Write a FAQ/Cheat!</a> or
        <a href="/postnews/{{g.id}}/"class="text-danger">Post a News Story!</a>
        <br />
        <br/>
        {% if isfavorite %}
        <a class="btn btn-danger" href="/unfavorite/{{g.id}}/" role="button"
          >Unfavorite Game</a
        >
        {% else %}
        <a class="btn btn-primary" href="/favorite/{{g.id}}/" role="button"
          >Favorite Game</a
        >
        {% endif %} {% endif %}
        <br />
        <br/>
        <h5>Consoles:</h5>
        {% for console in c %}
        <li>
          <a href="/console/{{console.id}}" class="text-danger"
            >{{console.name}}</a
          >
        </li>
        {% endfor %}
        <p class="card-text"></p>
      </div>
    </div>
  </div>

  <div class="card bg-dark float-right" style="width: 22rem"  id="gamefaq">
    <h5 class="card-title">GameFaqs:</h5>
    <div class="card-body">
    <ul class="list-group">
      {% for e in f %} {% if e.ptype == 'GAMEFAQ' %}
      <li>
        <a href="/gamefaq/{{e.id}}" class="text-danger">{{e.title}}</a> For
        {{e.consoles.name}}
      </li>
      {% endif %} {% endfor %}
    </div>
    </ul>
  </div>

  <div class="card bg-dark" style="width: 22rem" id="cheatcodes">
    <h5 class="card-title">Cheat Codes:</h5>
    <div class='card-body'>
    <ul class="list-group list-group-flush">
      {% for e in f %} {% if e.ptype == 'CHEATCODES' %}
      <li>
        <a href="/gamefaq/{{e.id}}" class="text-danger">{{e.title}}</a> For
        {{e.consoles.name}}
      </li>
      {% endif %} {% endfor %}
    </div>
    </ul>
  </div>


  <div class="card bg-dark" style="width: 22rem" id="news">
    <h5 class="card-title">News:</h5>
    <div class="card-body">
    <ul class="list-group list-group-flush">
      {% for e in n %}
      <li>
        <a href="/newspost/{{e.id}}/" class="text-danger">{{e.title}} by {{e.author}}</a>
      </li>
      {% endfor %}
    </div>
    </ul>
  </div>
</div>
</div>
