{% include "bootstrap.html" %}{% include "navbar.html" %}

<div class="card">
  <h5 class="card-header">{{post.title}}</h5>
  <p>{{post.game}}</p>
  <div class="card-body">
    <h5 class="card-title">
      written by:
      <a href="/user_profile_view/{{post.author.id}}/"
        >{{post.author.username}}</a
      >
    </h5>
    <p class="card-text">{{post.body}}</p>
    {% if request.user.id == post.author.id %}
    <a class="btn btn-primary" href="/editnews/{{post.id}}/" role="button"
      >Edit</a
    >
    <a class="btn btn-primary" href="/{{post.id}}/deletenews/" role="button"
      >Delete</a
    >
    {% endif %}
  </div>
</div>
