{% include "bootstrap.html" %}{% include "navbar.html" %}
<style>
  body{
    background-color: lightslategrey;
  }
</style>
<div class="jumbotron bg-dark text-light">
  <h1 class="display-4">PC</h1>
  <p class="lead"></p>
  <hr class="my-4" />
  <p>The One And Only</p>
</div>
<h5>consoles:</h5>
<div class="card" style="width: 18rem">
  <ul class="list-group list-group-flush">
    {% for console in consoles %}
    <li class="list-group-item">
      <a href="/console/{{console.id}}">{{console.name}}</a>
    </li>
    {% endfor %}
  </ul>
</div>
