{% include "bootstrap.html" %} {% include "navbar.html" %}
<h3>
  Reviews for faq:<br />" {{faq.title}} "<br />
  for {{faq.game}}, on {{faq.consoles}}
</h3>
<br />
<br />

<a href="/newreview/{{faq.id}}/">Write review for this gamefaq</a>
{% for review in reviews %}
<div class="card">
  <div class="card-header">Review</div>
  <div class="card-body">
    {% if review.isreccomend %}
    <h5 class="card-title">This User Recommends!</h5>
    {% else %}
    <h5 class="card-title">This User Does Not Recommend.</h5>
    {% endif %}
    <p class="card-text">{{review.body}}</p>
    <p class="card-text">
      Written by:
      <a href="/user_profile_view/{{review.author.id}}/"> {{review.author}}</a>
    </p>
    {% if request.user.id == review.author.id %}
    <a class="btn btn-primary" href="/editreview/{{review.id}}/" role="button"
      >edit</a
    >
    <a class="btn btn-primary" href="/{{review.id}}/deletereview/" role="button"
      >delete</a
    >
    {% endif %}
  </div>
  <br />
  <br />
  {% endfor %}
</div>
