{% include "bootstrap.html" %} {% include "navbar.html" %}
<h3>
  Reviews for faq:<br />" {{faq.title}} "<br />
  for {{faq.game}}, on {{faq.consoles}}
</h3>
<br />
<br />
{% for review in reviews %}
<div class="card">
  <div class="card-header">Review</div>
  <div class="card-body">
    {% if review.isreccomend %}
    <h5 class="card-title">This User Recommends!</h5>
    {% else %}
    <h5 class="card-title">This User Does Not Recommend.</h5>
    {% endif %}
    <p class="card-text">{{review.body}}</p>
    <p class="card-text">
      Written by:
      <a href="/user_profile_view/{{review.author.id}}/"> {{review.author}}</a>
    </p>
  </div>
  <br />
  <br />
  {% endfor %}
</div>
