{% include "bootstrap.html" %} {% load static %}<link
  rel="stylesheet"
  href="{% static 'css/userprofile.css' %}"
  type="text/css"
/>
{% include "navbar.html" %} {% if not profile %}

<h1>the user you're looking for isn't here at the moment</h1>
{% else %}
<div class="bg-dark text-light">
  <h1>User Profile Page</h1>
</div>
<div class="main">
  <div class="card" style="width: 18rem">
    {% if profile.image %}
    <img
      src="{{profile.image.url}}"
      class="card-img-top"
      alt="No Photo Found"
    />

    {% endif %}
    <div class="card-body bg-dark text-light">
      <h5 class="card-title">Username: {{profile.username}}</h5>
      <h5 class="card-title">Displayname: {{profile.displayname}}</h5>
      <p class="card-text">Bio: {{profile.bio}}</p>
      <li>Followers:{{followers.count}}</li>
      {% if request.user.username != profile.username %} {% if isfollow %}
      <a class="btn btn-primary" href="/unfollow/{{profile.id}}/" role="button"
        >Unfollow User</a
      >
      {% else %}

      <a class="btn btn-primary" href="/follow/{{profile.id}}/" role="button"
        >Follow User</a
      >

      {% endif %} {% endif %} {% if request.user.username == profile.username %}
      <a href="/user_profile_view/{{request.user.id}}/edit/">Edit Profile</a
      ><br />
      <a href="/upload/{{profile.id}}/">upload photo</a>
      {% endif %}
    </div>
  </div>

  <div class="card bg-dark text-light" style="width: 18rem">
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-dark">
        <h3>Preferred Gaming Systems:</h3>
        <ul>
          {% for console in consoles %}
          <li><a href="/console/{{console.id}}/">{{console.name}}</a></li>
          {% endfor %}
        </ul>
        <br />
        <h3>Favorite Games:</h3>
        <ul>
          {% for game in games %}
          <li><a href="/game/{{game.id}}/">{{game.title}}</a></li>
          {% endfor %}
        </ul>
        <br />
        <h3>Contact Info</h3>
        {{ profile.email }}
        <br />
      </li>
    </ul>
  </div>
  <div class="card bg-dark text-light">
    <h3>Authored Game FAQs</h3>
    <ul>
      {% for e in f %}

      <li><a href="/gamefaq/{{ e.id }}/">{{ e.title }}</a></li>

      {% endfor %} {% endif %}
    </ul>
  </div>
</div>
<div>
  {% if request.user.is_authenticated %}
  <a class="btn btn-primary" href="/comment/{{profile.id}}" role="button"
    >post a comment</a
  >
  {% endif %}
</div>
{% for comment in comments %}
<div class="card bg-dark text-light">
  <div class="card-header">Comment:</div>
  <div class="card-body">
    <h5 class="card-title">
      {% if comment.author.image %}
      <img
        id="thumbnail"
        width="40"
        height="40"
        src="{{ comment.author.image.url }}"
      />
      {% endif %}{{comment.author.username}}
    </h5>

    <p class="card-text">{{comment.body}}</p>
    <p class="card-text">{{comment.post_date}}</p>
    {% if request.user.id == comment.author.id %}
    <a class="btn btn-primary" href="/editcomment/{{comment.id}}/" role="button"
      >Edit</a
    >
    <a
      class="btn btn-primary"
      href="/{{comment.id}}/deletecomment/"
      role="button"
      >Delete</a
    >
    {% endif %}
  </div>
</div>

{% endfor %}
