{% include "bootstrap.html" %} {% include "navbar.html" %} {% if not profile %}
<h1>the user you're looking for isn't here at the moment</h1>
{% else %}
<h1>User Profile Page</h1>
<a href="/user_profile_view/{{request.user.id}}/edit/">Edit Profile</a>
<br />
<h2>Welcome, {{ profile.displayname }}!</h2>
<div class="card" style="width: 18rem">
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-info">
      <h3>Bio:</h3>
      <b>{{ profile.bio }}</b>
      <h3>Preferred Gaming Systems:</h3>
      {{ profile.preferred_systems}}
      <br />
      <h3>Contact Info</h3>
      {{ profile.email }}
      <br />
    </li>
  </ul>
</div>
<div>
  <br />
  <h3>Authored Game FAQs</h3>
  <ul>
    {% for e in f %}

    <li><a href="/gamefaq/{{ e.id }}/">{{ e.title }}</a></li>

    {% endfor %} {% endif %}
  </ul>
</div>
