{% include "bootstrap.html" %}{% include "navbar.html" %}{% load static %}
<link rel="stylesheet" href="{% static 'css/xbox.css' %}" type="text/css" />

<div class="jumbotron bg-success">
  <h1 class="display-4">XBOX CONSOLES</h1>
  <hr class="my-4" />
  <p>MASTER CHIEF WELCOMES YOU</p>
</div>



<div class="card bg-dark">
  <div class='card-title'>
    <h2><u>Consoles:</u></h2>
  </div>
  <ul class="list-group list-group-flush">
    {% for console in consoles %}
    <li class="list-group-item">
      <a href="/console/{{console.id}}">{{console.name}}</a>
    </li>
    {% endfor %}
  </ul>
</div>

